@import "../variables.css";


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding:  8px 64px;
    background-color: white;
  }

  h1 {
    position: absolute;
    /* top: 50%; */
  left: 50%;
  transform: translate(-50%,  0%);
    text-align:center;
    border: solid 6px black;
    padding: 16px;
    border-radius: 8px;
    border-color:  var(--primary-color);
    /* font-size: 0.8em; */
    font-weight: 900;
  }

  img {
    height: 55px;
    width: 55px;
    color:  var(--primary-color)
  }