.search-bar {
  /* position: absolute; */
  display: flex;
  width: 575px;
  padding: 16px 16px;
  align-items: center;
  gap: 10px;
  border: 1px solid;
  border-radius: 16px;

  margin: 8px auto;
  /* transform: translate(-50%, 0%); */
}

.search-input {
    border: none    ;
    flex: 1;
}

.search-input:focus {
    outline: none;
  }

  .search-icon{
    width: 38px;
    height:38px;
 
  }